@font-face{
    font-family: "Army_Wide";
    src: url("Army_Wide.woff") format("woff");
}
.military-font{
    font-family: "Army_Wide", serif;
}
.bg-light {
    background-color: #BABABA!important;
}
.fairrepack_navbar{
    background-color: #202020!important;
    color: #FFFFFF!important;
}


.navbar-light .navbar-nav .nav-link {
    color: #dcdcdc;
}

.navbar-light .navbar-brand {
    color: #dcdcdc;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #198754!important;
    border-color: #198754!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #157347!important;
    border-color: #146c43!important;
}

.padding-dernieres-sorties{
    padding: 10px;
}

